---
- name: restart ntp
  service:
    name: "ntp"
    state: restarted

- name: restart ssh
  service:
    name: "ssh"
    state: restarted

- name: reload sysctl.conf
  command: /sbin/sysctl -p

- name: flush routes
  command: /sbin/sysctl -w net.ipv4.route.flush=1

- name: reload postfix
  service:
    name: postfix
    state: reloaded