---
- hosts: abuseio
  become: yes
  vars_files:
    - group_vars/settings.yml
    - group_vars/defaults.yml

  roles:
    - role: bootstrap
      tags:
        - bootstrap
    - role: ufw
      tags:
        - ufw
    - role: geerlingguy.apache
      tags:
        - apache
    - role: geerlingguy.php
      tags:
        - php
    - role: geerlingguy.mysql
      tags:
        - mysql
        - mariadb
    - role: geerlingguy.postfix
      tags:
        - postfix
        - mta
    - role: geerlingguy.certbot
      tags:
        - certbot
        - tls
    - role: php-mailparse
      tags:
        - mailparse
        - php-ext
    - role: abuseio
      tags:
        - abuseio
        - app
    - role: post-install
      tags:
        - post-install
    - role: hardening
      tags:
        - hardening
