# {{ ansible_managed }}
[mysql]
user="{{ mysql_user_name }}"
password="{{ mysql_user_password }}"

[client]
user="{{ mysql_user_name }}"
password="{{ mysql_user_password }}"

[mysql-client]
user="{{ mysql_user_name }}"
password="{{ mysql_user_password }}"

[mysqldump]
user="{{ mysql_user_name }}"
password="{{ mysql_user_password }}"

[mysqladmin]
user="{{ mysql_user_name }}"
password="{{ mysql_user_password }}"

